<!DOCTYPE html>
<html lang="ko">
<head>
    <title>Login Test</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!--===============================================================================================-->
</head>
<body>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form">
                <span class="login100-form-title p-b-26">
                    Reset Password
                    <br>( 비밀번호 재설정 )
                </span>
                <div id="div_phone">
                    <div class="wrap-input100 validate-input" >
                        <input id="input_reset_phone_number" class="input100" type="text" >
                        <span class="focus-input100" data-placeholder="Phone-Number ( - 제외 ) "></span>
                    </div>

                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button id="btn_phone_cert" class="login100-form-btn">
                            인증
                        </button>
                    </div>
                </div>
                <br>
                <div id="div_number">

                    <div class="wrap-input100 validate-input" >
                        <input id="input_reset_random_number" class="input100" type="text" >
                        <span class="focus-input100" data-placeholder="승인번호 입력"></span>
                    </div>
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button id="btn_number_cert" class="login100-form-btn">
                            승인번호 인증
                        </button>
                    </div>
                </div>
                <br>
                <div id="div_reset_password">

                    <div class="wrap-input100 validate-input" >
                        <input id="input_reset_password" class="input100" type="password">
                        <span class="focus-input100" data-placeholder="비밀번호 입력"></span>
                    </div>
                    <div class="wrap-input100 validate-input" >
                        <input id="input_reset_password_confirm" class="input100" type="password">
                        <span class="focus-input100" data-placeholder="비밀번호 확인 입력"></span>
                    </div>

                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button id="btn_change_password" class="login100-form-btn">
                            비밀번호 변경
                        </button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/daterangepicker/moment.min.js"></script>
<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="js/main.js"></script>
<script>
    $(function() {

        let rpId;

        $("#div_number").hide();
        $("#div_reset_password").hide();

        //전화 번호 인증
        $("#btn_phone_cert").on('click',function (){

            if(!$("#input_reset_phone_number").val()){
                alert('휴대폰 번호를 입력해주세요.');
                return false;
            }

            let jsonData = {
                "phone_number": $("#input_reset_phone_number").val(),
                "flag" : false
            };

            $.ajax ({
                url: 'api/user/cert-phone',
                type: "POST",
                data: JSON.stringify(jsonData),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success : function(response){
                    if(!response.success){
                        alert(response.data.msg);
                        return false;
                    } else {
                        $("#div_number").show();
                        console.log(response);
                        $("#input_reset_random_number").val(response.data);
                    }
                }
            });

            return false;
        });

        //승인 번호 인증
        $("#btn_number_cert").on('click',function (){

            if(!$("#input_reset_phone_number").val()){
                alert('승인 번호를 입력해주세요.');
                return false;
            }

            let jsonData = {
                "phone_number": $("#input_reset_phone_number").val(),
                "number" : $("#input_reset_random_number").val()
            };

            $.ajax ({
                url: 'api/user/cert-phone-confirm',
                type: "POST",
                data: JSON.stringify(jsonData),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success : function(response){
                    if(!response.success){
                        alert(response.data.msg);
                        return false;
                    } else {
                        $("#div_reset_password").show();
                        $("#div_number").hide();
                        $("#div_phone").hide();
                        console.log(response);
                        rpId = response.data.rpId;
                    }
                }
            });

            return false;
        });

        //비밀번호 변경
        $("#btn_change_password").on('click',function (){

            if(!$("#input_reset_password").val() || !$("#input_reset_password_confirm").val() ){
                alert('비밀번호 , 비밀번호 확인을 입력해주세요.');
                return false;
            }

            if($("#input_reset_password").val() !== $("#input_reset_password_confirm").val() ){
                alert('비밀번호가 서로 일치하지 않습니다.');
                return false;
            }

            let jsonData = {
                "rpId": rpId,
                "phone_number": $("#input_reset_phone_number").val(),
                "password" : $("#input_reset_password").val()
            };

            $.ajax ({
                url: 'api/user/reset_password',
                type: "POST",
                data: JSON.stringify(jsonData),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success : function(response){
                    if(!response.success){
                        alert(response.data.msg);
                        return false;
                    } else {
                        alert('비밀번호 변경에 성공하였습니다.\n로그인 화면으로 돌아갑니다.');
                        location.href='/login';
                        return false;
                    }
                }
            });

            return false;
        });

    });
</script>
</body>
</html>